.platform-spin {
	width: 100%;
	margin: 0;
	position: relative;
	cursor: pointer;

	img {
		width: 100%;
		height: auto;
		position: absolute;
		visibility: hidden;
		z-index: 1;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		padding: 0 0 75%;
		background-image: url("../img/img_1350.jpg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 0;
	}

	&.active:after {
		visibility: hidden;
	}

	&.waiting:before {
		content: '';
		display: block;
		background-image: url("../img/play.svg");
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 50%;
	}

	&.busy:before {
		content: '';
		display: block;
		background-image: url("../img/spinner.svg");
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 50%;
	}
}
